* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #151617;
}

.rotate {
  transform: rotate(-180deg);
}

.show-for-tablet {
  display: none;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -0.04em;
  color: #151617;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 500;
}

h4 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
}

h6 {
  font-weight: 500;
  font-size: 24px;
  color: #151617;
}

p {
  letter-spacing: -0.04em;
  font-weight: 500;
  color: #2d3445;
}

a {
  text-decoration: none;
  color: #151617;
  cursor: pointer;
}

/* ------------Buttons ------------*/
button {
  height: 40px;
  padding: 8px 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  background-color: #78B42B;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 32px;
}
button:hover {
  background-color: #70AA27;
}
button:active {
  background-color: #609022;
  transform: scale(0.99);
}

.secondary-btn {
  color: #2A3F0F;
  background: #F2F8EA;
}
.secondary-btn:hover {
  background-color: #EBF4DF;
}
.secondary-btn:active {
  background-color: #D5E8BD;
}

.tertiary-btn {
  background-color: white;
  color: #444649;
  border: 2px solid #444649;
}
.tertiary-btn:hover {
  background-color: white;
}
.tertiary-btn:active {
  background-color: #F6F7F8;
}

.hide {
  display: none;
}

.nav-container {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 95%;
  height: 88px;
  max-width: 940px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
nav .logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
nav .logo h6 {
  font-size: 18px;
  font-weight: 600;
}
nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
nav .links-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .links-holder .links {
  border-right: 1px solid #d7dce1;
  margin-right: 48px;
}
nav .links-holder .links a {
  margin-right: 40px;
}
nav .links-holder .nav-cta a {
  margin-right: 40px;
}
nav .links-holder .nav-cta button {
  width: 150px;
}

header {
  height: 70dvh;
  max-width: 940px;
  margin: 56px auto 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
header h1 {
  font-weight: 500;
  font-size: 56px;
  text-align: center;
  line-height: 64px;
  letter-spacing: -0.01em;
  color: #151617;
}
header p {
  width: 636px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}
header .head-cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
header .head-cta button {
  height: 40px;
  width: 150px;
}
header .head-cta a {
  padding: 8px 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.event-btn {
  display: none;
}

main {
  margin-right: auto;
  margin-left: auto;
  max-width: 940px;
}
main .events-container {
  max-width: 940px;
  display: flex;
  justify-content: space-between;
}
main .events-container img {
  width: 640px;
}
main .events-container .event-keywords {
  width: 640px;
}
main .events-container .article-body {
  margin-top: 32px;
}
main .events-container .article-body h6 {
  line-height: 16px;
  margin-bottom: 16px;
}
main .events-container .article-body p {
  max-width: 640px;
  font-size: 16px;
  line-height: 21px;
}
main .events-container .events-menu h4 {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #151617;
}
main .events-container .events-menu .event[is-active] {
  background-color: #ebeced;
}
main .events-container .events-menu .event {
  width: 280px;
  min-height: 64px;
  padding: 8px 16px;
  margin-bottom: 16px;
  background-color: white;
  border: 2px solid #151617;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
}
main .events-container .events-menu .event h6 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.04em;
}
main .events-container .events-menu .event:hover {
  background-color: #ebeced;
}
main .events-container .events-menu .event:active {
  transform: scale(0.99);
}
main .events-container .events-menu .event p {
  font-size: 14px;
  line-height: 16px;
}
main .events-container .events-menu .upcoming-events {
  margin-bottom: 40px;
}
main .events-container .events-menu button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 32px;
}
main .events-container .events-menu button img {
  width: 24px;
  height: 24px;
}
main .events-container .events-menu-onscroll {
  position: fixed;
  right: 120px;
  top: 68px;
}

form {
  width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
form button {
  width: 100%;
  height: 48px;
  border-radius: 8px;
}

input {
  width: 100%;
  height: 48px;
  color: #151617;
  outline: none;
  border: 1px solid #DBDBDB;
  padding-left: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
}

textarea {
  color: #151617;
  outline: none;
  border: 1px solid #DBDBDB;
  margin-bottom: 16px;
  padding: 16px;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
  width: 100%;
  height: 136px;
}
textarea:active, textarea:focus {
  border: 2px solid #78B42B;
  outline: 4px solid #EBF4DF;
}

input[type=checkbox] {
  width: 16px;
  height: 16px;
}

input[type=password]:active,
input[type=password]:focus {
  outline: 4px solid #EBF4DF;
  border: 2px solid #78B42B;
}

input[type=number]:active,
input[type=number]:focus {
  outline: 4px solid #EBF4DF;
  border: 2px solid #78B42B;
}

input[type=email]:active,
input[type=email]:focus {
  border: 2px solid #78B42B;
  outline: 4px solid #EBF4DF;
}

input[type=text]:active,
input[type=text]:focus {
  border: 2px solid #78B42B;
  outline: 4px solid #EBF4DF;
}

input:not(:last-child) {
  margin-bottom: 16px;
}

label {
  font-weight: 500;
  font-size: 13.33px;
  margin-bottom: 8px;
  color: #46474b;
}

.login-page {
  height: 100dvh;
}
.login-page form-container {
  height: 100dvh;
}

.register-page {
  margin: 72px auto;
}
.register-page form {
  margin-top: 32px;
}

.form-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-page-container .form-container {
  min-width: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}
.form-page-container .form-container .register-steps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.form-page-container .form-container .register-steps hr {
  width: 64px;
  border-top: 1px dashed;
  opacity: 0.5;
}
.form-page-container .form-container .register-steps .step {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.form-page-container .form-container .register-steps .step p {
  color: #444649;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 0;
}
.form-page-container .form-container .register-steps .step .step-number {
  width: 40px;
  height: 40px;
  border-radius: 64px;
  background-color: #F9FAFA;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: no-drop;
}
.form-page-container .form-container .register-steps .step[is-active] p {
  color: #0E203A;
}
.form-page-container .form-container .register-steps .step[is-active] .step-number {
  background-color: #DFE6F2;
  cursor: default;
}
.form-page-container .form-container .register-steps .step[is-done] p {
  color: #295BA7;
}
.form-page-container .form-container .register-steps .step[is-done] .step-number {
  cursor: default;
  background-color: #295BA7;
}
.form-page-container .form-container .register-steps .step[is-done] .step-number p {
  color: white;
}
.form-page-container .form-container .first-last-name {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-page-container .form-container .first-last-name input[type=text] {
  width: 190px;
}
.form-page-container .form-container .radio-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.form-page-container .form-container .radio-buttons input[type=radio] {
  width: 16px;
  height: 17px;
}
.form-page-container .form-container .form-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.form-page-container .form-container .form-title h6 {
  font-weight: 600;
  color: #212121;
}
.form-page-container .form-container .form-title a {
  font-size: 14px;
  color: #295BA7;
  font-weight: 500;
  text-decoration-line: underline;
}
.form-page-container .form-container .form-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.form-page-container .form-container .form-section input[type=checkbox] {
  margin: 0;
}
.form-page-container .form-container .form-section .form-check-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.form-page-container .form-container .form-section .form-check-container label {
  margin: 0;
}
.form-page-container .form-container .form-section .forgot-password {
  font-size: 14px;
  font-weight: 500;
  color: #366CE2;
}
.form-page-container .form-container .create-account {
  width: 100%;
  margin-top: 32px;
  border-top: 2px dashed rgba(72, 73, 74, 0.1294117647);
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.form-page-container .form-container .create-account p {
  width: 189px;
  height: 16px;
  margin-bottom: 24px;
  color: #46474b;
}

.events-page-container {
  max-width: 940px;
  margin: 48px auto;
}
.events-page-container h2 {
  color: #212121;
  margin-bottom: 56px;
}
.events-page-container .events-controller {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 32px;
}
.events-page-container .events-controller button {
  padding: 8px 32px;
  line-height: 16px;
  font-weight: 500;
}
.events-page-container .event {
  height: 128px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  gap: 24px;
  transition: all 0.2s ease-in-out;
}
.events-page-container .event .event-date {
  min-width: 160px;
  height: 100%;
  border-radius: 8px 0 0 8px;
  border-right: 1px solid #E0E0E0;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.events-page-container .event .event-date .day {
  width: 56px;
  line-height: 48px;
  text-align: center;
  color: #101C33;
  font-size: 56px;
  letter-spacing: -0.04em;
}
.events-page-container .event .event-date .month {
  font-size: 24px;
  text-align: center;
  line-height: 16px;
  color: #101C33;
  letter-spacing: -0.04em;
}
.events-page-container .event .event-details .event-title {
  max-width: 729px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #151617;
}
.events-page-container .event .event-details .event-title:hover {
  color: #255296;
  transition: all 0.2s ease-in-out;
}
.events-page-container .event .event-details .event-title:active {
  color: #214986;
  transition: all 0.2s ease-in-out;
}
.events-page-container .event .event-details .event-author {
  margin-top: 8px;
  color: #ADADAD;
  font-weight: 400;
}
.events-page-container .event:hover .event-title {
  color: #295BA7;
  transition: all 0.2s ease-in-out;
}
.events-page-container .event:active .event-title {
  color: #214986;
  transition: all 0.2s ease-in-out;
}
.events-page-container .event:active {
  transform: scale(0.99);
}

/*------------------EVENT PAGE------------------*/
.event-header {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.event-header .event-category {
  color: #151617;
  font-weight: 500;
}
.event-header .event-category span {
  color: #295BA7;
}
.event-header h4 {
  width: 820px;
  height: 96px;
  line-height: 48px;
  color: #151617;
  text-align: center;
}
.event-header .event-author-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.event-header .event-author-details .event-author-name {
  line-height: 16px;
}
.event-header .event-author-details .post-date {
  color: #737374;
  font-weight: 400;
  margin-top: 8px;
  line-height: 14px;
}

.event-keywords {
  margin-top: 8px;
  max-width: 100%;
}
.event-keywords a {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  margin-right: 16px;
}
.event-keywords a span {
  color: #78B42B;
}

.event-body {
  margin-top: 64px;
}
.event-body div img {
  width: 940px;
}
.event-body .event-description {
  margin-top: 32px;
}
.event-body .event-description p {
  width: 640px;
  line-height: 24px;
}

footer {
  max-width: 100%;
  margin: 255px auto 0;
}
footer .footer-details-container {
  background-color: #222020;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-details-container .footer-details {
  width: 940px;
  height: 255px;
}
footer .footer-nav-container {
  background-color: #1E1B1B;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-nav-container .footer-nav {
  width: 940px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
footer .footer-nav-container .footer-nav p {
  color: #939191;
  line-height: 16px;
}
footer .footer-nav-container .footer-nav .links a {
  color: white;
}
footer .footer-nav-container .footer-nav .links a:not(:last-child) {
  margin-right: 32px;
}

/*------------------DASHBOARD PAGE------------------*/
.border-dashboard {
  background-color: #F3F4F6;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 64px auto;
}
.dashboard-container .dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
}
.dashboard-container table {
  max-width: 940px;
  color: #3d3d3d;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: white;
  margin: 32px auto;
}
.dashboard-container table th {
  padding: 16px;
}
.dashboard-container table .edit-event {
  cursor: pointer;
  color: #78B42B;
}

@media screen and (max-width: 1024px) {
  h4 {
    font-size: 24px;
  }
  h6 {
    font-size: 16px;
  }
  nav {
    max-width: 769px;
  }
  nav .logo a .logo-title {
    display: none;
  }
  header {
    max-width: 769px;
  }
  main {
    max-width: 769px;
  }
  main .events-container {
    max-width: 769px;
  }
  main .events-container img {
    width: 100%;
  }
  main .events-container .article-body {
    margin-top: 32px;
  }
  main .events-container .article-body h6 {
    line-height: 16px;
    margin-bottom: 16px;
  }
  main .events-container .article-body p {
    max-width: 504px;
    font-size: 16px;
    line-height: 21px;
  }
  main .events-container .events-menu {
    margin-left: 24px;
  }
  main .events-container .events-menu h4 {
    margin-bottom: 24px;
    line-height: 24px;
  }
  main .events-container .events-menu p {
    font-size: 14px;
    line-height: 14px;
  }
  main .events-container .events-menu .event {
    width: 240px;
    min-height: 64px;
    padding: 8px;
  }
  main .events-container .events-menu .event h6 {
    width: 224px;
    font-size: 16px;
    line-height: 24px;
  }
  main .events-container .events-menu .upcoming-events {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 768px) {
  .show-for-tablet {
    display: block;
  }
  .hide-for-tablet {
    display: none;
  }
  h1 {
    font-size: 48px;
    max-width: 688px;
  }
  h4 {
    font-size: 24px;
  }
  h6 {
    font-size: 16px;
  }
  .hidden {
    display: none;
  }
  nav {
    max-width: 688px;
  }
  nav .links-holder .ham-menu {
    margin-left: 32px;
    cursor: pointer;
  }
  header {
    max-width: 688px;
    margin: 56px auto 24px;
  }
  header h1 {
    line-height: 48px;
    margin-bottom: 16px;
  }
  header p {
    font-size: 16px;
    line-height: 24px;
    width: auto;
    height: 48px;
  }
  main {
    max-width: 688px;
  }
  main .events-container {
    max-width: 688px;
    flex-direction: column;
  }
  main .events-container .article-body {
    margin-top: 32px;
  }
  main .events-container .article-body h6 {
    line-height: 16px;
    margin-bottom: 16px;
  }
  main .events-container .article-body p {
    max-width: 688px;
    font-size: 16px;
    line-height: 21px;
  }
  main .events-container .events-menu-container .event-btn {
    height: 48px;
    background: white;
    padding: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #DCDDDD;
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  main .events-container .events-menu-container .event-btn img {
    width: 24px;
    height: 24px;
  }
  main .events-container .events-menu-container .event-btn p {
    font-size: 16px;
    line-height: 24px;
    color: #151617;
  }
  main .events-container .events-menu-container .event-btn-reshape {
    border-radius: 8px;
  }
  main .events-container .events-menu {
    margin: auto;
    width: 100%;
    padding: 16px;
    border: 2px solid #DCDDDD;
    border-top: 0;
    border-radius: 0 0 8px 8px;
    background-color: #fbfbfb;
  }
  main .events-container .events-menu h4 {
    line-height: 24px;
    margin-bottom: 16px;
  }
  main .events-container .events-menu p {
    height: 16px;
    font-size: 14px;
    line-height: 14px;
  }
  main .events-container .events-menu .event[is-active] {
    background-color: #f4eeff;
  }
  main .events-container .events-menu .event {
    background-color: white;
    width: 100%;
    min-height: 64px;
  }
  main .events-container .events-menu .event h6 {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
  main .events-container .events-menu .upcoming-events {
    margin-bottom: 24px;
  }
}
::placeholder {
  color: #ADADAD;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/*# sourceMappingURL=main.css.map */
