//Primary
$primary: #78B42B;
$primary-hover: #70AA27;
$primary-active: #609022;
$primary-light: #F2F8EA;
$primary-light-hover: #EBF4DF;
$primary-light-active: #D5E8BD;
$primary-darker: #2A3F0F;

//secondary
$secondary: #295BA7;
$secondary-hover: #255296;
$secondary-active: #214986;
$secondary-light: #EAEFF6;
$secondary-light-hover: #DFE6F2;
$secondary-light-active: #BDCCE4;
$secondary-darker: #0E203A;

//Gray
$gray: #C2C9D1;
$gray-hover: #AFB5BC;
$gray-active: #9BA1A7;
$gray-light: #F9FAFA;
$gray-light-hover: #F6F7F8;
$gray-light-active: #ECEEF1;
$gray-darker: #444649;

//Body
$body-color: #151617;
$body-color-secondary: #2d3445;
$radius: 8px;
$input_height: 48px;
$max-width: 940px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: $body-color;
}

.rotate {
  transform: rotate(-180deg);
}

.show-for-tablet {
  display: none;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -0.04em;
  color: #151617;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 500;

}

h4 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
}

h6 {
  font-weight: 500;
  font-size: 24px;
  color: #151617;
}

p {
  letter-spacing: -0.04em;
  font-weight: 500;
  color: $body-color-secondary;
}

a {
  text-decoration: none;
  color: $body-color;
  cursor: pointer;
}

/* ------------Buttons ------------*/

button {
  height: 40px;
  padding: 8px 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  background-color: $primary;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 32px;

  &:hover {
    background-color: $primary-hover;
  }

  &:active {
    background-color: $primary-active;
    transform: scale(0.99);
  }
}

.secondary-btn {
  color: $primary-darker;
  background: $primary-light;

  &:hover {
    background-color: $primary-light-hover;
  }

  &:active {
    background-color: $primary-light-active;
  }


}

.tertiary-btn {
  background-color: white;
  color: $gray-darker;
  border: 2px solid $gray-darker;

  &:hover {
    background-color: white;

  }

  &:active {
    background-color: $gray-light-hover;

  }
}

.hide {
  display: none;
}

.nav-container {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  //border-bottom: 1px solid #c5c5c5;
}

nav {
  width: 95%;
  height: 88px;
  max-width: $max-width;
  background-color: white;
  margin: 0 auto;
  // border-bottom: 1px solid $body-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .logo {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }

    h6 {
      font-size: 18px;
      font-weight: 600;
    }
  }

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  .links-holder {
    display: flex;
    align-items: center;
    justify-content: center;

    .links {
      border-right: 1px solid #d7dce1;
      margin-right: 48px;

      a {
        margin-right: 40px;
      }
    }

    .nav-cta {
      a {
        margin-right: 40px;
      }

      button {
        width: 150px;
      }
    }
  }
}


header {
  height: 70dvh;
  max-width: $max-width;
  margin: 56px auto 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;

  h1 {
    font-weight: 500;
    font-size: 56px;
    text-align: center;
    line-height: 64px;
    letter-spacing: -0.01em;
    color: #151617;


  }

  p {
    width: 636px;
    height: 40px;
    font-size: 18px;
    text-align: center;

    line-height: 24px;

  }

  .head-cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    button {
      height: 40px;
      width: 150px;
    }

    a {
      padding: 8px 32px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: -0.04em;
      color: rgba(0, 0, 0, 0.75);
      cursor: pointer;
    }
  }
}

.event-btn {
  display: none;
}

main {
  margin-right: auto;
  margin-left: auto;
  max-width: $max-width;


  .events-container {
    max-width: $max-width;
    display: flex;
    justify-content: space-between;

    img {
      width: 640px;
    }

    .event-keywords {
      width: 640px;
    }

    .article-body {
      margin-top: 32px;

      h6 {
        line-height: 16px;
        margin-bottom: 16px;
      }

      p {
        max-width: 640px;
        font-size: 16px;
        line-height: 21px;
      }
    }

    .events-menu {

      h4 {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.04em;
        color: #151617;
      }

      .event[is-active] {
        background-color: #ebeced;
      }

      .event {

        h6 {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.04em;


        }

        width: 280px;
        min-height: 64px;
        padding: 8px 16px;
        margin-bottom: 16px;
        background-color: white;
        border: 2px solid #151617;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        border-radius: $radius;

        &:hover {
          background-color: #ebeced;
        }

        &:active {
          transform: scale(0.99);
        }

        p {
          font-size: 14px;
          line-height: 16px;
        }

      }

      .upcoming-events {
        margin-bottom: 40px;
      }

      button {
        width: 100%;
        //border-radius: $radius;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-radius: 32px;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }

    .events-menu-onscroll {
      position: fixed;
      right: 120px;
      top: 68px;
    }
  }
}


form {
  width: 400px;

  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  button {
    width: 100%;
    height: 48px;
    border-radius: 8px;

  }
}

input {
  width: 100%;
  height: $input_height;
  color: $body-color;
  outline: none;
  border: 1px solid #DBDBDB;
  padding-left: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  transition: all 0.2s ease-in-out;
  border-radius: $radius;

}

textarea {
  color: $body-color;
  outline: none;
  border: 1px solid #DBDBDB;
  margin-bottom: 16px;
  padding: 16px;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  border-radius: $radius;
  width: 100%;
  height: 136px;

  &:active, &:focus {
    border: 2px solid $primary;
    outline: 4px solid $primary-light-hover;
  }
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

input[type="password"]:active,
input[type="password"]:focus {
  outline: 4px solid $primary-light-hover;
  border: 2px solid $primary;
}

input[type="number"]:active,
input[type="number"]:focus {
  outline: 4px solid $primary-light-hover;
  border: 2px solid $primary;
}


input[type="email"]:active,
input[type="email"]:focus {
  border: 2px solid $primary;
  outline: 4px solid $primary-light-hover;
}

input[type="text"]:active,
input[type="text"]:focus {
  border: 2px solid $primary;
  outline: 4px solid $primary-light-hover;
}

input:not(:last-child) {
  margin-bottom: 16px;
}

label {
  font-weight: 500;
  font-size: 13.33px;
  margin-bottom: 8px;
  color: #46474b;
}

.login-page {
  height: 100dvh;

  form-container {
    height: 100dvh;
  }
}

.register-page {
  margin: 72px auto;
  form {
    margin-top: 32px;
  }
}

.form-page-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .form-container {
    min-width: 470px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;


    .register-steps {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      hr {
        width: 64px;
        border-top: 1px dashed;
        opacity: .5;

      }

      .step {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;


        p {
          color: $gray-darker;
          font-size: 14px;
          line-height: 14px;
          margin-bottom: 0;
        }

        .step-number {
          width: 40px;
          height: 40px;
          border-radius: 64px;
          background-color: $gray-light;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: no-drop;
        }
      }

      .step[is-active] {
        p {
          color: $secondary-darker;

        }

        .step-number {
          background-color: $secondary-light-hover;
          cursor: default;

        }
      }

      .step[is-done] {
        p {
          color: $secondary;
        }

        .step-number {
          cursor: default;

          p {
            color: white;
          }

          background-color: $secondary;

        }
      }
    }

    .first-last-name {
      width: 100%;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      input[type="text"] {
        width: 190px;
      }
    }

    .radio-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 16px;

      input[type="radio"] {
        width: 16px;
        height: 17px;
      }
    }

    .form-title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;

      h6 {

        font-weight: 600;
        color: #212121;
      }

      a {
        font-size: 14px;
        color: $secondary;
        font-weight: 500;
        text-decoration-line: underline;
      }
    }

    .form-section {

      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;

      input[type="checkbox"] {
        margin: 0;
      }

      .form-check-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        label {
          margin: 0;
        }
      }

      .forgot-password {
        font-size: 14px;
        font-weight: 500;
        color: #366CE2;
      }
    }

    .create-account {

      width: 100%;
      margin-top: 32px;
      border-top: 2px dashed #48494a21;
      padding: 16px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      //gap: 16px;


      p {
        width: 189px;
        height: 16px;
        margin-bottom: 24px;
        color: #46474b;
      }


    }
  }
}

.events-page-container {
  max-width: $max-width;
  margin: 48px auto;

  h2 {
    color: #212121;
    margin-bottom: 56px;
  }

  .events-controller {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 32px;

    button {

      padding: 8px 32px;
      line-height: 16px;
      font-weight: 500;

    }


  }

  .event {
    height: 128px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: $radius;
    border: 1px solid #E0E0E0;
    gap: 24px;
    transition: all 0.2s ease-in-out;

    .event-date {
      min-width: 160px;
      height: 100%;
      border-radius: 8px 0 0 8px;
      border-right: 1px solid #E0E0E0;
      background-color: #FAFAFA;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 8px;

      .day {
        width: 56px;
        line-height: 48px;
        text-align: center;
        color: #101C33;
        font-size: 56px;
        letter-spacing: -0.04em;
      }

      .month {
        font-size: 24px;
        text-align: center;
        line-height: 16px;
        color: #101C33;
        letter-spacing: -0.04em;
      }
    }

    .event-details {
      .event-title {
        max-width: 729px;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #151617;

        &:hover {
          color: $secondary-hover;
          transition: all 0.2s ease-in-out;
        }

        &:active {
          color: $secondary-active;
          transition: all 0.2s ease-in-out;
        }

      }

      .event-author {
        margin-top: 8px;
        color: #ADADAD;
        font-weight: 400;

      }
    }

    &:hover .event-title {
      color: $secondary;
      transition: all 0.2s ease-in-out;
    }

    &:active .event-title {
      color: $secondary-active;
      transition: all 0.2s ease-in-out;
    }

    &:active {
      transform: scale(0.99);
    }

  }


}

/*------------------EVENT PAGE------------------*/

.event-header {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;

  .event-category {
    color: #151617;
    font-weight: 500;

    span {
      color: $secondary;
    }

    //padding: 16px 32px;
  }

  h4 {
    width: 820px;
    height: 96px;
    line-height: 48px;
    color: #151617;
    text-align: center;
  }

  .event-author-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .event-author-name {
      line-height: 16px;

    }

    .post-date {
      color: #737374;
      font-weight: 400;
      margin-top: 8px;
      line-height: 14px;


    }

  }
}

.event-keywords {
  margin-top: 8px;
  max-width: 100%;

  a {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    margin-right: 16px;

    span {
      color: $primary;
    }

    //padding: 8px 16px;
    //border: 2px solid black;
    //border-radius: 24px;


  }
}

.event-body {
  margin-top: 64px;

  div {
    img {
      width: 940px;
    }
  }

  .event-description {
    margin-top: 32px;

    p {
      width: 640px;
      line-height: 24px;

    }
  }
}

footer {
  max-width: 100%;
  margin: 255px auto 0;

  .footer-details-container {
    background-color: #222020;
    display: flex;
    align-items: center;
    justify-content: center;


    .footer-details {
      width: $max-width;
      height: 255px;
    }

  }

  .footer-nav-container {
    background-color: #1E1B1B;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-nav {
      width: $max-width;
      height: 88px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;

      p {
        color: #939191;
        line-height: 16px;
      }

      .links {
        a {
          color: white;

          &:not(:last-child) {
            margin-right: 32px;
          }
        }


      }
    }
  }

}

@media screen and (max-width: 1024px) {
  h4 {
    font-size: 24px;
  }
  h6 {
    font-size: 16px;
  }

  $max-width: 769px;

  nav {
    max-width: $max-width;

    .logo {
      a {
        .logo-title {
          display: none;
        }
      }
    }
  }
  header {
    max-width: $max-width;
  }
  main {
    max-width: $max-width;

    .events-container {

      max-width: $max-width;

      img {
        width: 100%;
      }

      .article-body {
        margin-top: 32px;

        h6 {
          line-height: 16px;
          margin-bottom: 16px;
        }

        p {
          max-width: 504px;
          font-size: 16px;
          line-height: 21px;
        }
      }

      .events-menu {
        margin-left: 24px;

        h4 {
          margin-bottom: 24px;
          line-height: 24px;

        }

        p {
          font-size: 14px;
          line-height: 14px;
        }

        .event {
          h6 {
            width: 224px;
            font-size: 16px;
            line-height: 24px;

          }

          width: 240px;
          min-height: 64px;
          padding: 8px;
        }

        .upcoming-events {
          margin-bottom: 24px;
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {
  .show-for-tablet {
    display: block;
  }
  .hide-for-tablet {
    display: none;
  }

  $max-width: 688px;
  h1 {
    font-size: 48px;
    max-width: $max-width;

  }
  h4 {
    font-size: 24px;
  }
  h6 {
    font-size: 16px;
  }
  .hidden {
    display: none;
  }

  nav {
    max-width: $max-width;

    .links-holder {
      .ham-menu {
        margin-left: 32px;
        cursor: pointer;
      }
    }
  }

  header {
    max-width: $max-width;
    margin: 56px auto 24px;

    h1 {
      line-height: 48px;
      margin-bottom: 16px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      width: auto;
      height: 48px;
    }
  }

  main {

    max-width: $max-width;

    .events-container {
      max-width: $max-width;
      flex-direction: column;


      .article-body {
        margin-top: 32px;

        h6 {
          line-height: 16px;
          margin-bottom: 16px;
        }

        p {
          max-width: $max-width;
          font-size: 16px;
          line-height: 21px;
        }
      }

      .events-menu-container {

        .event-btn {
          height: 48px;
          background: white;
          padding: 16px;
          border-width: 2px;
          border-style: solid;
          border-color: #DCDDDD;
          border-radius: 8px 8px 0 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;

          img {
            width: 24px;
            height: 24px;
          }

          p {
            font-size: 16px;
            line-height: 24px;
            color: #151617;
          }
        }

        .event-btn-reshape {
          border-radius: $radius;
        }
      }

      .events-menu {
        margin: auto;
        width: 100%;
        padding: 16px;
        border: 2px solid #DCDDDD;
        border-top: 0;
        border-radius: 0 0 8px 8px;
        background-color: #fbfbfb;

        h4 {

          line-height: 24px;
          margin-bottom: 16px;

        }

        p {
          height: 16px;
          font-size: 14px;
          line-height: 14px;
        }

        .event[is-active] {
          background-color: #f4eeff;
        }

        .event {
          h6 {
            width: 100%;
            font-size: 16px;
            line-height: 24px;

          }

          background-color: white;
          width: 100%;
          min-height: 64px;
          //padding: 8px 16px;
        }

        .upcoming-events {
          margin-bottom: 24px;
        }

        //.upcoming-events, .previous-events {
        //  padding: 16px;
        //
        //}
      }
    }
  }

}

::placeholder {
  color: #ADADAD;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}