* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #151617;
}

.rotate {
  transform: rotate(-180deg);
}

.show-for-tablet {
  display: none;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -0.04em;
  color: #151617;
}

h4 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
}

h6 {
  font-weight: 500;
  font-size: 24px;
  color: #151617;
}

p {
  letter-spacing: -0.04em;
  font-weight: 500;
  color: #2d3445;
}

a {
  text-decoration: none;
  color: #151617;
  cursor: pointer;
}

button {
  height: 40px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  background-color: #78B42B;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 32px;
}
button:hover {
  background-color: #70AA27;
}

.nav-container {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 95%;
  height: 88px;
  max-width: 940px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
nav .logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
nav .links-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .links-holder .links {
  border-right: 1px solid #d7dce1;
  margin-right: 48px;
}
nav .links-holder .links a {
  margin-right: 40px;
}
nav .links-holder .nav-cta a {
  margin-right: 40px;
}
nav .links-holder .nav-cta button {
  width: 150px;
}

header {
  height: 70dvh;
  max-width: 940px;
  margin: 56px auto 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
header h1 {
  font-weight: 500;
  font-size: 56px;
  text-align: center;
  line-height: 64px;
  letter-spacing: -0.01em;
  color: #151617;
}
header p {
  width: 636px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}
header .head-cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
header .head-cta button {
  height: 40px;
  width: 150px;
}
header .head-cta a {
  padding: 8px 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.event-btn {
  display: none;
}

main {
  margin-right: auto;
  margin-left: auto;
  max-width: 940px;
}
main .events-container {
  max-width: 940px;
  display: flex;
  justify-content: space-between;
}
main .events-container img {
  width: 100%;
}
main .events-container .article-body {
  margin-top: 32px;
}
main .events-container .article-body h6 {
  line-height: 16px;
  margin-bottom: 16px;
}
main .events-container .article-body p {
  max-width: 733px;
  font-size: 16px;
  line-height: 21px;
}
main .events-container .events-menu {
  margin-left: 24px;
}
main .events-container .events-menu h4 {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #151617;
}
main .events-container .events-menu .event[is-active] {
  background-color: #ebeced;
}
main .events-container .events-menu .event {
  width: 280px;
  min-height: 64px;
  padding: 8px 16px;
  margin-bottom: 16px;
  background-color: white;
  border: 2px solid #151617;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
}
main .events-container .events-menu .event h6 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.04em;
}
main .events-container .events-menu .event:hover {
  background-color: #ebeced;
}
main .events-container .events-menu .event p {
  font-size: 14px;
  line-height: 16px;
}
main .events-container .events-menu .upcoming-events {
  margin-bottom: 40px;
}
main .events-container .events-menu button {
  width: 100%;
  border-radius: 8px;
}
main .events-container .events-menu-onscroll {
  position: fixed;
  right: 120px;
  top: 68px;
}

form {
  width: 280px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
form button {
  width: 100%;
  border-radius: 8px;
}

input {
  width: 100%;
  height: 40px;
  color: #151617;
  outline: none;
  border: 1px solid #DBDBDB;
  padding-left: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
}

input:active,
input:focus {
  border: 2px solid #78B42B;
}

input:not(:last-child) {
  margin-bottom: 16px;
}

label {
  font-weight: 500;
  font-size: 13.33px;
  margin-bottom: 8px;
  color: #3D3D3D;
}

.form-page-container {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-page-container .form-greeting {
  background-color: #295BA7;
  min-width: 470px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
.form-page-container .form-greeting .home-page-btn {
  width: 334px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form-page-container .form-greeting .home-page-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 40px;
  background-color: white;
  border-radius: 32px;
}
.form-page-container .form-greeting h4 {
  width: 334px;
  line-height: 40px;
  color: white;
}
.form-page-container .form-container {
  min-width: 470px;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}
.form-page-container .form-container .form-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.form-page-container .form-container .form-title h6 {
  width: 82px;
  font-weight: 600;
  color: #212121;
}
.form-page-container .form-container .form-title a {
  font-size: 14px;
  color: #295BA7;
  font-weight: 500;
  text-decoration-line: underline;
}

@media screen and (max-width: 1024px) {
  h4 {
    font-size: 24px;
  }
  h6 {
    font-size: 16px;
  }
  nav {
    max-width: 769px;
  }
  nav .logo a .logo-title {
    display: none;
  }
  header {
    max-width: 769px;
  }
  main {
    max-width: 769px;
  }
  main .events-container {
    max-width: 769px;
  }
  main .events-container img {
    width: 100%;
  }
  main .events-container .article-body {
    margin-top: 32px;
  }
  main .events-container .article-body h6 {
    line-height: 16px;
    margin-bottom: 16px;
  }
  main .events-container .article-body p {
    max-width: 504px;
    font-size: 16px;
    line-height: 21px;
  }
  main .events-container .events-menu {
    margin-left: 24px;
  }
  main .events-container .events-menu h4 {
    margin-bottom: 24px;
    line-height: 24px;
  }
  main .events-container .events-menu p {
    font-size: 14px;
    line-height: 14px;
  }
  main .events-container .events-menu .event {
    width: 240px;
    min-height: 64px;
    padding: 8px;
  }
  main .events-container .events-menu .event h6 {
    width: 224px;
    font-size: 16px;
    line-height: 24px;
  }
  main .events-container .events-menu .upcoming-events {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 768px) {
  .show-for-tablet {
    display: block;
  }
  .hide-for-tablet {
    display: none;
  }
  h1 {
    font-size: 48px;
    max-width: 688px;
  }
  h4 {
    font-size: 24px;
  }
  h6 {
    font-size: 16px;
  }
  .hidden {
    display: none;
  }
  nav {
    max-width: 688px;
  }
  nav .links-holder .ham-menu {
    margin-left: 32px;
    cursor: pointer;
  }
  header {
    max-width: 688px;
    margin: 56px auto 24px;
  }
  header h1 {
    line-height: 48px;
    margin-bottom: 16px;
  }
  header p {
    font-size: 16px;
    line-height: 24px;
    width: auto;
    height: 48px;
  }
  main {
    max-width: 688px;
  }
  main .events-container {
    max-width: 688px;
    flex-direction: column;
  }
  main .events-container .article-body {
    margin-top: 32px;
  }
  main .events-container .article-body h6 {
    line-height: 16px;
    margin-bottom: 16px;
  }
  main .events-container .article-body p {
    max-width: 688px;
    font-size: 16px;
    line-height: 21px;
  }
  main .events-container .events-menu-container .event-btn {
    height: 48px;
    background: white;
    padding: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #DCDDDD;
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  main .events-container .events-menu-container .event-btn img {
    width: 24px;
    height: 24px;
  }
  main .events-container .events-menu-container .event-btn p {
    font-size: 16px;
    line-height: 24px;
    color: #151617;
  }
  main .events-container .events-menu-container .event-btn-reshape {
    border-radius: 8px;
  }
  main .events-container .events-menu {
    margin: auto;
    width: 100%;
    padding: 16px;
    border: 2px solid #DCDDDD;
    border-top: 0;
    border-radius: 0 0 8px 8px;
    background-color: #fbfbfb;
  }
  main .events-container .events-menu h4 {
    line-height: 24px;
    margin-bottom: 16px;
  }
  main .events-container .events-menu p {
    height: 16px;
    font-size: 14px;
    line-height: 14px;
  }
  main .events-container .events-menu .event[is-active] {
    background-color: #f4eeff;
  }
  main .events-container .events-menu .event {
    background-color: white;
    width: 100%;
    min-height: 64px;
  }
  main .events-container .events-menu .event h6 {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
  main .events-container .events-menu .upcoming-events {
    margin-bottom: 24px;
  }
}

/*# sourceMappingURL=main.css.map */
