$primary: #081024;
$scondary: #b0dc51;
$radius: 0;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
button {
  height: 48px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  background-color: #081024;
  outline: none;
  border: none;
}
